<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
        body {
            margin: 0;
            background: #ffffff;
            color: #585858;
        }

        table {
            font-size:
                15px;
            line-height: 23px;
            max-width: 500px;
            min-width: 460px;
            text-align:
                center;
        }

        .table_inner {
            min-width: 100% !important;
        }

        td {
            font-family:
                -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
            vertical-align: top;
        }

        .carpool_logo {
            margin: 30px auto;
        }

        .dummy_row {
            padding-top: 20px !important;
        }

        .section,
        .sectionlike {
            background: #ffffff;
        }

        .section {
            padding: 0 20px;
        }

        .sectionlike {
            padding-bottom: 10px;
        }

        .section_content {
            width: 100%;
            background: #fff;
        }

        .section_content_padded {
            padding: 0 35px 40px;
        }

        .section_zag {
            background: #F4FBF9;
        }

        .imageless_section {
            padding-bottom: 20px;
        }

        img {
            display: block;
            margin: 0 auto;
        }

        .img_section {
            width: 100%;
            max-width: 500px;
        }

        .img_section_side_table {
            width: 100% !important;
        }

        h1 {
            font-size: 20px;
            font-weight: 500;
            margin-top: 40px;
            margin-bottom: 0;
        }

        .near_title {
            margin-top: 10px;
        }

        .last {
            margin-bottom:
                0;
        }

        a {
            color: #63D3CD;
            font-weight: 500;
            word-break: break-word;
            /* Footer
    has long unsubscribe link */
        }

        .button {
            display: block;
            width: 100%;
            max-width: 300px;
            background: #04f5a5;
            border-radius: 8px;
            color: #fff;
            font-size: 18px;
            font-weight: normal;
            /* Resetting from a */
            padding: 12px 0;
            margin: 30px auto 0;
            text-decoration: none;
        }

        small {
            display: block;
            width: 100%;
            max-width: 330px;
            margin: 14px auto 0;
            font-size: 14px;
        }

        .signature {
            padding: 20px;
        }

        .footer,
        .footer_like {
            background: #ffffff;
        }

        .footer {
            padding: 0 20px 30px;
        }

        .footer_content {
            width: 100%;
            text-align:
                center;
            font-size: 12px;
            line-height: initial;
            color: #005750;
        }

        .footer_content a {
            color: #005750;
        }

        .footer_item_image {
            margin: 0 auto 10px;
        }

        .footer_item_caption {
            margin: 0 auto;
        }

        .footer_legal {
            padding:
                20px 0 40px;
            margin: 0;
            font-size: 12px;
            color: #A5A5A5;
            line-height: 1.5;
        }

        .text_left {
            text-align: left;
        }

        .text_right {
            text-align: right;
        }

        .va {
            vertical-align: middle;
        }

        .stats {
            min-width: auto !important;
            max-width:
                370px;
            margin: 30px auto 0;
        }

        .counter {
            font-size: 22px;
        }

        .stats_counter {
            width: 23%;
        }

        .stats_image {
            width: 18%;
            padding: 0 10px;
        }

        .stats_meta {
            width: 59%;
        }

        .stats_spaced {
            padding-top: 16px;
        }

        .walkthrough_spaced {
            padding-top: 24px;
        }

        .walkthrough {
            max-width: none;
        }

        .walkthrough_meta {
            padding-left: 20px;
        }

        .table_checkmark {
            padding-top: 30px;
        }

        .table_checkmark_item {
            font-size: 15px;
        }

        .td_checkmark {
            width: 24px;
            padding: 7px 12px 0 0;
        }

        .padded_bottom {
            padding-bottom: 40px;
        }

        .marginless {
            margin: 0;
        }

        /* Restricting responsive for iOS Mail app only
    as Inbox/Gmail have render bugs */
        @media only screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
            table {
                min-width: auto !important;
            }

            .section_content_padded {
                padding-right: 25px !important;
                padding-left: 25px !important;
            }

            .counter {
                font-size: 18px !important;
            }
        }
    </style>
</head>

<body style=" margin: 0;
  background: #eef7fa;
  color: #383838;
">
    <!-- Preivew text -->
    <span class="preheader"
        style="display: none !important; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;border-collapse: collapse;border: 0px;"></span>
    <!-- Carpool logo -->
    <table align="center" border="0" cellspacing="0" cellpadding="0" style="  font-size: 15px;
  line-height: 23px;
  max-width: 500px;
  min-width: 460px;
  text-align: center;
">
        <tbody>
            <br /><br />
            <!-- Header -->
            <tr>
                <td class="sectionlike imageless_section" style=" font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  vertical-align: top;
    border: none !important;
  background: #ffffff;
  padding-bottom: 10px;
padding-bottom: 20px;"></td>
            </tr>
            <!-- Content -->
            <tr>
                <td class="section" style=" font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  vertical-align: top;
    border: none !important;
  background: #ffffff;
  padding: 0 20px;
">
                    <table border="0" cellspacing="0" cellpadding="0" class="section_content" style=" font-size: 15px;
  line-height: 23px;
  max-width: 500px;
  min-width: 460px;
  text-align: center;
  width: 100%;
  background: #fff;
">
                        <tbody>
                            <tr>
                                <td class="section_content_padded" style="  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  vertical-align: top;
    border: none !important;
padding: 0 35px 40px;">
                                    <h1 style=" font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 0;
">Welcome To Realback Services</h1>
                                    <br />
                                    <h1>Hii {{name}}</h1><br />
                                    <p class="near_title last" style="margin-top: 10px; margin-bottom: 0; font-size: 20px; ">Please verify
                                        that your email address is {{email}} and that
                                        you entered it when signing up for Realback.</p>
                                    <a href="{{CLIENT_URL}}/auth/activate?token={{token}}" style=" display: block;
  width: 100%;
  max-width: 300px;
  background:rgb(14, 110, 255);
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  padding: 18px 0;
  margin: 30px auto 0;
  text-decoration: none;
" target="_blank">Verify email</a>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <!-- Signature -->

            <!-- Footer -->

            <tr>
                <td style=" font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  vertical-align: top;
    border: none !important;
">
                    <table border="0" cellspacing="0" cellpadding="0" class="section_content" style=" font-size: 15px;
  line-height: 23px;
  max-width: 500px;
  min-width: 460px;
  text-align: center;
  width: 100%;
  background: #fff;
">
                        <tbody>
                            <tr>
                                <td class="footer_like" style=" font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  vertical-align: top;
    border: none !important;
background: #ffffff; "><img src="https://res.cloudinary.com/realback/image/upload/v1629698930/illustration_login_ugjyky.png" alt=""
                                        width="500" class="img_section" style=" display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
" /></td>
                            </tr>
                            <tr>
                                <td class="footer" style="  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  vertical-align: top;
    border: none !important;
  padding: 0 20px 30px;
  background: #ffffff;
">
                                    <table border="0" cellspacing="0" cellpadding="0" class="footer_content" style="  font-size: 15px;
  line-height: 23px;
  max-width: 500px;
  min-width: 460px;
  text-align: center;
  width: 100%;
  font-size: 12px;
  line-height: initial;
  color: #005750;
">
                                        <tbody>
                                            <tr>
                                                <td width="33%" style=" font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  vertical-align: top;
    border: none !important;
">

                                                
                                                        <br /><a href="https://www.instagram.com/realbackindia?r=nametag" style="  color: #0786fd;
" target="_blank">                                                    <img src="https://image.flaticon.com/icons/png/512/733/733558.png"
                                                        width="35" class="footer_item_image" style="  display: block;
  margin: 0 auto;
margin: 0 auto 10px;" /></a>
                                                   
                                                </td>
                                                <td width="33%" style=" font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  vertical-align: top;
    border: none !important;
">
                                                  
                                                        <br /><a href="https://support.google.com/waze/carpool" style=" color: #0786fd;
" target="_blank">
                                                    <img src="https://image.flaticon.com/icons/png/512/220/220236.png"
                                                        width="35" class="footer_item_image" style="  display: block;
  margin: 0 auto;
margin: 0 auto 10px;" /></a>
                                                   
                                                </td>
                                                <td width="33%" style=" font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  vertical-align: top;
    border: none !important;
">
                                                    
                                                   
                                                        <br /><a href="https://www.facebook.com/groups/wazecarpoolers"
                                                            style="  color: #0786fd;
" target="_blank"><img src="https://image.flaticon.com/icons/png/512/889/889102.png"
                                                        width="35" class="footer_item_image" style=" display: block;
  margin: 0 auto;
margin: 0 auto 10px;" /></a>
                                                   
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <!-- Legal footer -->
            <tr>
                <td style=" font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  vertical-align: top;
    border: none !important;
">
                    <p class="footer_legal" style=" padding: 20px 0 40px;
  margin: 0;
  font-size: 18px;
  color: #424242;
  line-height: 1.5;
">
                        If you did not enter this email address when signing up for Realback
                        service, disregard this message.<br /><br />
                        © 2021 Realback Inc.
                        <br /><br />

                        This is a mandatory service email from Realback.
                    </p>
                </td>
            </tr>
        </tbody>
    </table>

</body>

<!-- 
https://i.pinimg.com/originals/a4/51/39/a451393c169a91586312551109361064.gif


https://i.pinimg.com/originals/a3/84/3e/a3843e404a271edb47b1908dd2a6230b.gif -->